h1 {
	font-family: var(--title-font);
	font-weight: 700;
	font-size: 3rem;
}

header{
	display: flex;
	justify-content: space-between;
}

.headerLogo {
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	padding-bottom: 1rem;
	padding-top: 0.75rem;
	margin-left: 1rem;
}

.icon {
	font-size: 2.5rem;
	margin-right: 0.75rem;
	transform: translate(0px, 0.25rem);
}

.menuIcon{
	margin-top: 2.2rem;
	margin-right: 1.75rem;
	font-size: 1.75rem;
	cursor: pointer;
}

.menuIcon:hover {
	color: var(--colour-brown);
}

.headershadow {
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.15);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.15);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.15);
}

@media screen and (min-width: 1200px) {
	.headerLogo {
		justify-content: flex-start;
	}
	header {
		margin: 0 10rem;
	}
}

@media screen and (max-width: 450px) {
	h1{
		font-size: 2rem;
	}
	.menuIcon{
		margin-top: 1.5rem;
	}

	.icon {
		font-size: 2rem;
		transform: translate(0px, 0.1rem);
	}
}
