.smallCard {
	display: flex;
	height: 8rem;
	border-radius: 0.5rem;
	background-color: #ffffff;
	margin: 1.5rem 0;
	margin-top: 0;
	position: relative;
}

.smallImg {
	border-radius: 0.5rem 0 0 0.5rem;
	max-width: 170px;
}

.smallCardTitle {
	margin: 0.5rem 1rem 0rem 0.5rem;
	font-family: var(--title-font);
	font-weight: 600;
	font-size: 1.1rem;
}

.subHeadigns {
	display: flex;
	gap: 1rem;
	margin: 0.25rem 0 0 0.5rem;
	align-items: center;
	color: var(--colour-grey);
	font-size: 0.8rem;
}

.readMore {
	font-family: var(--title-font);
	font-weight: 700;
	color: var(--colour-black);
	display: flex;
	gap: 0.8rem;
	align-items: center;
	transition: var(--transition);
	cursor: pointer;
	position: absolute;
	right: 2rem;
	bottom: 1rem;
}

.readArrow {
	font-size: 0.8rem;
}

.readMore:hover {
	color: var(--colour-brown);
	transform: translateX(0.5rem);
}

.truncate {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media screen and (min-width: 800px) {
	.smallCard {
		height: 10rem;
	}

	.smallImg {
		max-width: 240px;
	}

	.smallCardTitle {
		font-size: 1.4rem;
	}

	.readMore {
		font-size: 1.2rem;
	}

	.readArrow {
		font-size: 1rem;
	}

	.subHeadigns {
		font-size: 1rem;
	}
}
