@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:wght@500;600;700;800;900&display=swap');

body {
	margin: 0;
	font-family: var(--body-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f1f1f1;
	color: var(--colour-black);
	font-weight: 300;
	scroll-behavior: smooth;
}

* {
	/* border: 1px solid red; */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style-type: none;
	text-decoration: none;
	transition: var(--transition);
}

:root {
	--colour-pure-white: #ffffff;
	--colour-second-white: #f1f1f1;
	--colour-black: #1f1d1d;
	--colour-grey: #9d9ea0;
	--colour-brown: #8a644d;
	--colour-light-brown: #9b836a;
	--transition: all 400ms ease;

	--body-font: "Lato", sans-serif;

	--title-font: "Playfair Display", serif;
}

h1,h2, h3{
	font-family: var(--title-font);
	font-weight: 600;
}

button {
    padding: .5rem 1.25rem .5rem 1.25rem;
    color: var(--colour-pure-white);
    background-color: var(--colour-brown);
    border-radius: .5rem;
    border: 2px solid transparent;
    transition: var(--transition);
    font-weight: 500;
	cursor: pointer;
}

button:hover{
    border: 2px solid var(--colour-brown);
    color: var(--colour-brown);
    background-color: transparent;
}

.clickOn{
	cursor: pointer;
}

.clickOn{
	cursor: pointer;
}

.flex{
	display: flex;
}

section{
	margin-top: 2rem;
}